<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cup_hook.name %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @cup_hook.sku %>
</p>

<p>
  <strong>Per box:</strong>
  <%= @cup_hook.per_box %>
</p>

<p>
  <strong>Lbs per case:</strong>
  <%= @cup_hook.lbs_per_case %>
</p>

<p>
  <strong>Act wire size:</strong>
  <%= @cup_hook.act_wire_size %>
</p>

<p>
  <strong>Dec dia:</strong>
  <%= @cup_hook.dec_dia %>
</p>

<p>
  <strong>Base dia:</strong>
  <%= @cup_hook.base_dia %>
</p>

<p>
  <strong>Inside dia hook:</strong>
  <%= @cup_hook.inside_dia_hook %>
</p>

<p>
  <strong>Stem length:</strong>
  <%= @cup_hook.stem_length %>
</p>

<p>
  <strong>Thread length:</strong>
  <%= @cup_hook.thread_length %>
</p>

<p>
  <strong>Projection length:</strong>
  <%= @cup_hook.projection_length %>
</p>

<p>
  <strong>Pieces per card:</strong>
  <%= @cup_hook.pieces_per_card %>
</p>

<p>
  <strong>Card size:</strong>
  <%= @cup_hook.card_size %>
</p>

<p>
  <strong>Material:</strong>
  <%= @cup_hook.material %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cup_hook.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @cup_hook.category_id %>
</p>

<%= link_to 'Edit', edit_cup_hook_path(@cup_hook) %> |
<%= link_to 'Back', cup_hooks_path %>
