<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Stock number:</strong>
  <%= @product.stock_number %>
</p>

<p>
  <strong>Material:</strong>
  <%= @product.material %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description.html_safe %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
